{% extends 'bases/paraAdministracion.html' %}
{% from 'render/formulariosContenido.html' import render_field%}



{% block javascript%}
            <script type="text/javascript" src="{{ url_for('static', filename='Administracion/crearContenido/ajaxCrearContenido.js') }}"></script>
{% endblock %}



{% block botonesMenu %}
{% endblock %}



{% block encabezadoo %}
{% endblock %}



{% block contenedor %}
    <form onsubmit="return confirm('¿Seguro que deceas guardar este contenido. ESTA ACCION SOLO SE PUEDE REALIZAR UNA UNICA VEZ.?')" enctype="multipart/form-data" action="{{url_for("Administracion_CrearContenidoPost")}}" method="POST">
    <input type="hidden" value="{{pk}}" name="pk">
        <div class="row">
            <div class="col-md-4"></div>

            <div class="col-md-4">
            </div>

            <div class="col-md-4"></div>
        </div>
        <br />
        <br />
        <br />


        <div class="row">
            <table class="table">

                <thead>
                    <tr>
                        <td><strong>#</strong></td>
                        <td><strong>Tipo Contenido</strong></td>
                        <td><strong>Asignable</strong></td>
                        <td><strong>HTML Apertura</strong></td>
                        <td><strong>Contenido</strong></td>
                        <td><strong>HTML Cierre</strong></td>
                        <td><strong>Eliminar</strong></td>
                    </tr>
                </thead>

                <tbody id="cuerpo">

                </tbody>

            </table>
        </div>

        <hr>

        <div class="row">

            <div class="col-md-3">
            <input type="button" value="Agregar" onclick="CrearCont('siguiente')" />
            </div>

            <div class="col-md-3">
            </div>

            <div class="col-md-3">
            </div>

            <div class="col-md-3">
            <input type="submit" value="Enviar" onclick="UnicaCarga()"/>
            </div>


        </div>


    </form>

    <div style="display:none">

        {% for eses in estilos %}
            <div id="paraEstilos{{ loop.index }}">{{eses}}</div>
        {% endfor %}

    </div>

    <hr>

    <div id="visual">

    </div>

    <br />


{% endblock %}

