{% extends 'bases/paraAdministracion.html' %}
{% from 'render/formularios.html' import render_field%}



{% block javascript%}
{% endblock %}



{% block botonesMenu %}
{% endblock %}



{% block encabezadoo %}
{% endblock %}



{% block contenedor %}

<div class="col-md-3"></div>

<div class="col-md-6">

{% for dd in lista %}
<a href="{{url_for("Administracion_CrearContenidoPkGet",pk=dd.Indice_Pk)}}">{{dd.Documento_Nombre}} -- {{dd.Documento_Version}} -- {{dd.Indice_Nombre}}</a>
{% endfor%}

</div>

<div class="col-md-3"></div>

{% endblock %}

